.container__height{
    height: 702px;

}
.container__background {
    z-index: -1;
    position: absolute;
}

.container__background_rectangle {
    width: 100%;
}

.container__background_big-photo {
    position: absolute;
    right: 0;
    width: 55%; 
}


.container__wrapper{
    position:absolute;
    width: 510px;
    height: 280px;
    margin: 195px 0px 0px 81px;
}
.container__companies{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:90px 200px 0px;
}
.container__companies_feature-in{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.container__companies_images{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.container__presentation{
    margin-top:127px;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.container__find-your-sound{
    width: 558px;
    height:257px;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.container__plugins{
    max-width: 1156px;
    display:flex;
    align-items: center;
    flex-direction: row;
    gap: 231px;

}
.container__plugins_image{
    

}
.container__build-your-digital-studio{
    max-height:275;
    display: flex;
    flex-direction: column;
}







/* .container__wrapper {
    background-image: url(../../img/header/rectangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(100% - 100px);
    display: flex;
    justify-content: space-between;
}
.container__block-where{
    max-width: 40%;
    padding: 60px 40px;
}

.background_big-photo{
    top:0;
    right: 0;
    max-width: 40%;
    max-width: 40%;
} */