.featured-in{
    margin:90px 208px 0 ;
}
.featured-in__name{
    font-weight: 600;
    color:#606060;
    font-size: 13px;
    text-align: center;
    margin:0 0 30px;
}
.featured-in__many-names{
    display:flex;
    z-index: -2;
    justify-content: space-between;
}

