.header {
    width: 1280px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 42px 80px 0;
    z-index: 1;
}

.header__nav {
    margin-left:79px;
    display: flex;
    gap: 33px;
}

.header__item {
}

.header__auth {
    margin-left: auto;
    display:flex;
    gap:28px;
    border: 0;
    background-color: transparent;
    font-size: 10px;
    font-weight: 500;

}

.header__log-in{
    color: white;
    border:0;
    padding: auto;
    background-color: transparent;
}

.header__sign-up{
    color: white;
    border:0;
    padding: 9px 31px;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 105px;
}
