.music-starts{
    position: relative;
    width: 100%;
    height: 700px;
    display:flex;
    z-index: -1;
}

.music-starts__background {
    position: absolute;
    z-index: -1;
    height: 100%;
}

.music-starts__gray-rectangle-rounded-under {
    width: 100%;
}

.music-starts__photo-with-two-people {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.music-starts__where-your-music{
    margin:195px 0 0 81px;
    width: 510px;
    display:flex;
    flex-direction: column;
}

.music-starts__text-image{
    width: 481px;
}

.music-starts__discription{
    color:#595959;
    margin: 23px 0 0;    
    line-height: 171%;
    margin-top:18px;
}

.music-starts__btn{
    margin-top: 34px;
    width: 126px;
    height: 37px;
    bottom:0;

}