.praise{
    position: relative;
    margin-top: 70px;
}

.praise__background{
    position: absolute;
    top:0;
    z-index: -1;
}

.praise__background-black{
    margin-top:184px;

}

.praise__globus{
    position: absolute;
    right:0;
}



.praise__creators{
    width: 1259px;
    height: 471px;
    margin-top:330px;
    margin-left:82px;
    display:flex;
    gap:161px
}
.praise__header{
    color: #FFFFFF;
}

.praise__discription{
    width: 400px;
    height: 348px;
    margin-top: 84px;
}

.praise__reviews{
    
    width: 698px;
    height: 471px;
    display:flex;
    flex-wrap: wrap;
    gap:39px;
}
.praise__item--left{
    margin-left: auto;
}

.praise__item{
    background-color: #202020;
    padding: 28px;
    width: 290px;
    height: 216px;
    box-sizing: border-box;   
    font-weight: 600; 
    color:#FFFFFF;
    line-height: 108%;
}

   

.praise__item-text{
    margin: 0;
    height: 95px;        
    overflow: hidden;

}

.praise__item-creator{
    margin-top:25px;
    display: flex;
}

.praise__avatar{
    width: 40px;
    height: 40px;
}
.praise__creator-block{
    margin-left: 10px;
    font-weight: 400;
}
.praise__creator-name{
    font-size: 11px;
}
.praise__creator-description{
    font-size: 8px;
}

.praise__good{
    color:#FFFFFF;
    margin:416px 80px 0;
    width: 1278px;
    display: flex;
    flex-direction: column;
}
.praise__good-text{
    text-align: center;
    font-size: 38px;
    color: #FFFFFF;
    margin: 0;
    top:0;
}
.praise__icons-div{
    margin-top:113px;
    display:flex;
    flex-direction: row;
    gap:40px;
}

.praise__icon{
    width: 288px;
    margin: 0;
}

.praise__icon-img{
    width: 40px;
    height: 40px;
}

.praise__icon-header{
    margin:15px 0 0;
    font-weight: 700;
    font-size: 22px;

}

.praise__icon-description{
    margin:19px 0 0;
    font-size: 16px;
    line-height: 171%;
    color: #958A8A;
}

.praise__gradient{
    color: #FFFFFF;
    margin-top: 176px;
    height: 232px;
    display: flex;
    flex-direction: column;
}

.praise__gradient-svg{
    position: absolute;
    z-index: -1;
    margin: 0 80px;

}
.praise_gradient-text{
    text-align: center;
    width: 549px;
    height: 78px;
    margin:43px 445px 0;
    font-size: 36px;
    font-weight: 800;
}

.praise_gradient-btn{
    align-items: center;
    margin:32px 628px 0;
    font-weight: 500;
    background-color: transparent;
    font-size: 12px;
    border-radius: 105px;
    padding: 11px 35px;
    color: #FFFFFF;
    outline: 1px solid white;
    border:0;
}